body {
  color: white;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

section {
  padding: 3rem 0 2.5rem;
  background-color: rgb(141 205 240);
}

.heading {
  margin-bottom: 2.5rem;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.feature {
  flex-basis: calc(100% / 3);
}
