* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  max-width: 800px;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-one-fourth {
  flex-basis: 25%;
}

.column-one-third {
  flex-basis: calc(100%/3);
}

.column-two-third {
  flex-basis: calc(200%/3);
  padding: 1rem;
  line-height: 20px;
  margin-bottom: 50px;
}

.character {
  width: 100%;
}
